@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-overlay-container] {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-out {
  @apply animate-fadeOut;
}

.no-uppercase {
  text-transform: none;
}

/* Avoid override by .toggle */
.monaco-editor .find-widget .button.toggle {
  position: absolute !important;
  top: 0 !important;
  left: 3px !important;
  width: 18p !important;
  height: 100% !important;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  box-sizing: border-box !important;
  --handleoffset: 0 !important;
  color: currentColor !important;
}
